@charset "UTF-8";
*{margin: auto; padding: 0;box-sizing: border-box;}
nav{height: 90px; color:#fff;}
a{cursor: pointer; font-weight: bold;}
a.btn-nav:hover{color: lightskyblue;}
.neo-section{
	min-height: 700px;
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 30px;
	position: relative;
}
.wm{width: 50%; float: left;text-align:center}
.clear{clear: both;}
.center{text-align:center;}
.neo-container{max-width: 1280px; padding: 2% 2%; margin: 0 auto; margin-top: 200px;}

.neo-section > .neo-container {
	position: relative;
	z-index: 105;
}
.texto-centro{color: #fff; font-size: 3em; font-family:'Ubuntu'; font-weight: bold; text-align: center;margin-top:200px}
.btncss{width: 280px; border-radius: 10px; border: 3px solid#0A66C2; padding: 20px; font-weight: bold; color:#fff;}
.botoes{padding: 2% 15%;}
.btncss:hover{color: cadetblue; cursor:pointer}
.rodape{color: #fff; background-color:  darkcyan; text-align: center; font-size: 1.25em; padding: 15px ;}

/*Responsividade*/
@media screen and (max-width: 667px){
	.wm{width: 100%;}
	nav{height: 100%;}
	.neo-container{margin-top: 120px;}
}